.aboutText{
    font-family : Montserrat;
    font-size : 30px;
    line-height: 50px;
    padding : 0px 60px 0px 60px;
}
.About{
    font-family : Montserrat;
    color: white;
    display : flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-image: url("./images/bg1.jpg");
    background-size: cover;
}
.container{
    border : 2px solid white;
    margin : 150px 50px auto 50px;
    padding : 30px 50px 30px 50px;
    background-color: #5a189a;
    font-family:Montserrat;
    border-radius: .5em;

}
.largeText{
    font-size:4em;
    font-weight: 700;
}
.byText{
    font-size : 20px;
    display : flex;
    flex-direction : row-reverse;
    padding : 80px 120px 0px 120px;
    font-style: italic;
    font-weight: 400;
}
.footer{
    bottom : 0;
    margin-bottom: 0;
}