.aboutText{
    color : white;
    font-family : Montserrat;
    font-size : 30px;
    line-height: 50px;
    padding : 0px 60px 0px 60px;
}
.About{
    font-family : Montserrat;
}
.container{
    border : 2px solid white;
    margin : 50px 50px 0px 50px;
    padding : 30px 50px 30px 50px;
    font-family:Montserrat;
}
.largeText{
    font-size:4em;
    font-weight: 700;
    color : white;
}
.byText{
    font-size : 20px;
    color : white;
    display : flex;
    flex-direction : row-reverse;
    padding : 80px 120px 0px 120px;
    font-style: italic;
    font-weight: 400;
}
.footer{
    padding : 80px 30px 80px 30px;
    color : white;
}