.Home{
    color : white;
    font-family : Montserrat;
    /* display:flex; */
}
table{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}
table,tr,td{
    border:none;
}
td{
    padding : 100px 0px 100px 0px;
}
.part2{
    /* background-color: #e0aaff; */
    background-color: #5a189a;
}
.div1part1{
    color : white;
    background-image:url("./bg1.jpg");
    background-size:cover;
}
.div1part2{
    background-color: #9d4edd;
    /* background-color: #d62828; */
}

/* logo text */
#l1{
    font-weight: 400;
}
#l2{
    font-weight: bold;
}
.title{
    margin-top : 70px;
}
.images{
    display : flex;
    justify-content: space-between;
    /* margin-top : 4em; */
}
.img{
    display : flex;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
    transition:0.2s ease-in-out;
    /* background-color: #6f2dbd; */
    background-color: #9d4edd;
    padding : 20px 20px 20px 20px;
    height: 200px;
    width: 350px;
}
.img:hover{
    transform:scale(1.05);
    transition:0.2s ease-in-out;
}
.imageText{
    /* padding-top : 20px; */
    font-size : 20px;
    font-weight:500;
}
img,.img{
    border-radius: .5em;
}
.pText{
    font-size : 20px;
    padding : 0px 50px 0px 50px;
    line-height: 50px;
}
/* navbar text */
.navbar{
    font-family : Montserrat,Menlo;
    color:white;
    background-color:#6f2dbd;
    font-size : 1.4em;
    display : flex;
    justify-content: space-around;
    list-style: none;
    padding : 10px 0 10px 0;
    border-bottom: 2px solid white;
    border-right : 2px solid white;
    border-left : 2px solid white;
    border-radius: 10px;
}
.navbar .link,li{
    text-decoration: none;
    color : inherit;
    font-weight: 500;
    font-size : 17px;
}
.header{
    /* border-bottom : 2px solid white;  */
    font-family:Montserrat,Menlo;
    color:#6f2dbd;
    text-align: center;
    letter-spacing: 4px;
    margin-bottom : 30px;
    margin-top : 30px;
}
#mainHeading{
    font-size : 2.5em;
}
#heading{
    font-size : 2em;
}
p.largeText{
    font-size : 2em;
    font-weight: 700;
    margin-bottom : 60px;
}
.part2{
    padding : 40px 0px 80px 0px;
}
.highlight{
    font-weight: bold;
    color :#6f2dbd;
}
div.footer{
    padding : 15px 30px 15px 30px;
    bottom: 0px;
    color : white;
    background-color: black;
}
