@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;1,300;1,400;1,500&display=swap');
.Login{
    background-image: url("./bg3.jpg");
    height: 100vh;
    background-size: cover;
    display: flex;
    font-family: Montserrat;
}
.Register{
    background-image: url("./bg3.jpg");
    height: 100vh;
    background-size: cover;
    display: flex;
    font-family: Montserrat;
}
.Records{
    background-image: url("./bg3.jpg");
    height: 100vh;
    background-size: cover;
    color : white;
    font-family: Montserrat;
}
.Record-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom : 20px;
}
.buttons{
    display : flex;
}

.title{
    font-size : 20px;
    margin: 0px;
}
.logoutButton{
    border : 2px solid rgb(169, 1, 255);
    padding : 5px 10px 5px 10px;
    font-size : 14px;
    background-color: rgb(169, 1, 255);
    color : white;
    font-family: montserrat;
    border-radius: 5px;
    font-weight: bold;
}
.logoutButton:hover,.logoutButton:active{
    transform: scale(1.10);
    transition : 0.1s ease-in-out;
}
.logoutButton:active{
    background-color : white;
    color : rgb(169, 1, 255);
    border : 2px solid white;

}

#dialogue{
    color : rgb(169, 1, 255);
    font-size : 1.8em;
    font-weight: 400;
    font-family : Montserrat;
    margin-top : 1em;
    opacity: 0;
}
.formContainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 500px;
    border-radius : 10px;
    padding : 50px;
    background-color: white;
    margin : 150px auto auto auto;
    /* border : 3px solid black; */
}



#form{
    display: flex;
    justify-content: space-evenly;
    flex-direction : column;
    /* margin-right: 25px; */
}
.form .inputField{


    border-bottom :2px solid rgb(220, 220, 220);
    color : black;
    background-color:white;
    font-size : 1em;
    margin-bottom : 15px;
    border-width: 0 0 2px;
    width: 200px;
    padding : 15px 15px 15px 15px;
    transition:0.1s ease-in-out;
    font-family : montserrat;
    outline:none;

}


.inputField:hover{
    border-bottom :2px solid rgb(179, 179, 179);
}
.inputField:active,.inputField:focus{
    border-bottom :2px solid rgb(169, 1, 255);

}
::placeholder{
    /* color : #6f2dbd; */
    color : rgba(83, 82, 82, 0.979);
    font-family : montserrat;
}
.errorMessage{
    color : white;
    margin : 0px 0px 15px 0px;

}
.form .submitButton{
    font-size : 16px;
    font-family : Montserrat,Menlo;
    padding : 10px 14px 10px 14px;
    background-color : rgb(169, 1, 255);

    /* color :#6f2dbd; */
    color : white;
    border : 2px solid white;
    border-radius : 8px;
    display: flex;
    margin : 15px auto;
    justify-content: center;
    font-weight: bold;
    transition:0.1s ease-in-out;
    outline : none;
    
}
.form .submitButton:active{
    background-color: black;
    color : white;
}
.form .submitButton:hover,.form .submitButton:active{
    transform:scale(1.10);
    transition:0.1s ease-in-out;
}
.link-text{
    font-size : 0.8em;
    font-family : montserrat;
    color : black;
    font-weight: bold;
}
.form .link{
    color :rgb(169, 1, 255);
    font-family : Montserrat,Menlo;
    font-size : 0.9em;
    font-weight: bold;
    text-decoration: none;
    display : flex;
    margin : 10px auto;
    justify-content: center;
}
.form .link:hover{
    cursor : pointer
}

.formContainerBox{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 300px;
    border-radius : 10px;
    background-color: white;
    padding : 50px;
    height : 250px;
    margin-right: 80px;
    margin-left : 80px;
}
.formBox .inputField{

    border-bottom :2px solid rgb(220, 220, 220);
    color : black;
    background-color:white;
    font-size : 1em;
    margin-bottom : 15px;
    border-width: 0 0 2px;
    width: 150px;
    padding : 15px 15px 15px 15px;
    transition:0.1s ease-in-out;
    font-family : montserrat;
    outline:none;
}
.formBox .inputField:hover{
    border-bottom :2px solid rgb(179, 179, 179);
}
.formBox .inputField:active,.formBox .inputField:focus{
    border-bottom :2px solid rgb(169, 1, 255);
}
#formBox{
    display: flex;
    flex-direction: column;
}
.display{
    display : flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-top : 30px;
    margin-left : 30px;
    margin-right : 30px;
    padding-top : 50px;
    border-radius: 10px;
    padding-bottom : 50px;
    /* background-color: rgba(255, 255, 255, .30);  
    backdrop-filter: blur(10px); */
}
.LoanDetails{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius : 10px;
    background-color: white;
    padding : 50px;
    margin  : auto;
}
.LoanDetails .inputField{
    border-bottom :2px solid rgb(220, 220, 220);
    color : black;
    background-color:white;
    font-size : 1em;
    margin-bottom : 15px;
    border-width: 0 0 2px;
    width: 200px;
    padding : 15px 15px 15px 15px;
    transition:0.1s ease-in-out;
    font-family : montserrat;
    outline:none;
}
.LoanDetails .inputField:hover{
    border-bottom :2px solid rgb(179, 179, 179);
}
.LoanDetails .inputField:active, .LoanDetails .inputField:focus{
    border-bottom : 2px solid rgb(169, 1, 255);
}
.submitButton{
    font-size : 16px;
    font-family : Montserrat,Menlo;
    padding : 10px 14px 10px 14px;
    background-color :rgb(169, 1, 255);
    border : 2px solid rgb(169, 1, 255);
    border-radius : 8px;
    display: flex;
    margin : 15px auto;
    justify-content: center;
    color : white;
    font-weight: bold;
    transition:0.1s ease-in-out;
    outline : none;   
}
.submitButton:active{
    background-color: black;
    color : white;
    border : 2px solid black;
}
.submitButton:active,.submitButton:hover{
    transform:scale(1.01);
    transition : 0.1s ease-in-out;
}
.submitButton:hover,.submitButton:active{
    transform:scale(1.10);
    transition:0.1s ease-in-out;
}
.actionButton{
    font-size : 16px;
    font-family : Montserrat,Menlo;
    padding : 17px 14px 17px 14px;
    background-color :white;
    border : 2px solid white;
    border-radius : 8px;
    display: flex;
    margin : 50px auto;
    justify-content: center;
    color : black;
    font-weight: bold;
    transition:0.1s ease-in-out;
    outline : none;
}
.actionButton:active{
    background-color: black;
    color : white;
    border : 2px solid black;
}
.actionButton:active,.actionButton:hover{
    transform:scale(1.05);
    transition : 0.1s ease-in-out;
    box-shadow: 5px 5px 30px rgb(65, 65, 65);
}
#loginTitle.header{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    font-weight: bold;
}

#loginTitle{
    border-bottom: 0;
    color :rgb(169, 1, 255);
    font-size : 1.5em;
    font-weight: 500;
    padding-right : 25px;
}

.timerBox{
    border : 3px solid black;
    border-radius : 8px;
    background-color:rgb(169, 1, 255);
    width : 400px;
    height: 200px;
    font-family : montserrat;
    text-align: center;
    letter-spacing: 1px;
    padding-top : 10px;

}
.timers{
    display : flex;
    flex-direction: column;
    align-items: center;
    padding-top : 5px;
}
.timer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: white;
    border : 2px solid black;
    border-radius : 8px;
    font-size : 20px;
    font-family : montserrat;
    color : black;
    font-weight: 500;
}
.duration{
    font-family : montserrat;
    font-size : 15px;
    font-weight: 500;
    padding-top : 5px;
}
.timerContainer{
    display : flex;
    flex-direction : row;
    justify-content: space-evenly;
}

.recordBox{
    display : flex;
    height : 120px;
    width : 808px;
    justify-content: center;
    align-items: center;
    border : 2px solid #6f2dbd;
    background-color: black;
    border-radius : 8px;
    margin : 0px auto 0px auto;
}
.timerRecordBox{
    display : flex;
    flex-direction: column;
    justify-content: space-between;
}
.timer-text{
    font-size : 1.5em;
    font-weight: bold;
}
.record-text{
    font-size : 1.3em;
    font-weight: 500;
}
.table-container{
    display: flex;
    color : black;
    background-color: white;
    margin : 0px 10px 0px 10px;
    align-items: center;
    justify-content: center;
}
.table{
    color : black;
    font-family : montserrat;
    border-radius: 10px;
}
.table-data,.table-header{
    padding : 0px;
    /* border-right: 3px solid white; */
}
.table-title,.table-header{
    font-family : montserrat;
    margin : 0px;
}
.table-header{
    background-color: black;
    color : white;
}
.table-title{
    letter-spacing: 1px;
    font-weight: 400;
    padding : 30px 0px 30px 0px;
}
.titleContainer{
    font-style : italic;
    font-family: montserrat;
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.5px;
    margin : 0px 0px 20px 0px;
    padding : 20px 50px 20px 50px;
    margin : 0px 0px 50px 0px;
    font-weight: bolder;
    background-color: black;
    color :white;
    align-items: center;

}
.material-form{
    background-color: white;
    padding : 20px 40px 20px 40px;
    border-radius: 10px;
    display: flex;
    color : rgb(169, 1, 255);
    flex-direction : column;
    justify-content: center;
    align-items: center;
}
#interestCalculatorHeader{
    color :rgb(169, 1, 255);
    font-family : montserrat;
    font-size : 20px;
    font-weight: 700;
    padding-bottom : 15px;
}
.resultValue{
    margin-bottom : 15px;
    font-family :sans-serif;
}