@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;1,300;1,400;1,500&display=swap');
#l1{
    font-weight: 400;
}
#l2{
    font-weight: bold;
}
/* navbar text */
nav{
    font-family : Montserrat,Menlo;
    color:white;
    /* background-color:#6f2dbd; */
    background-color: black;
    font-size : 20px;
    list-style: none;
    padding : 10px 0 10px 0;
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top:0;
    /* border-top : 20px solid black; */
}
.text-link{
    text-decoration: none;
    color : inherit;
    font-weight: 500;
    /* font-size : 17px; */
}
